@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700');

@font-face {
  font-family: 'fragmentedico';
  src:  url('../assets/fonts/fragmentedico.eot?4m2ft8');
  src:  url('../assets/fonts/fragmentedico.eot?4m2ft8#iefix') format('embedded-opentype'),
    url('../assets/fonts/fragmentedico.ttf?4m2ft8') format('truetype'),
    url('../assets/fonts/fragmentedico.woff?4m2ft8') format('woff'),
    url('../assets/fonts/fragmentedico.svg?4m2ft8#fragmentedico') format('svg');
  font-weight: normal;
  font-style: normal;
}