[class^="icon-"], [class*=" icon-"] {
    font-family: 'icodenamez' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    text-shadow: 1px 1px 0 #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$icon-user: "\f2bd";
$icon-locked: "\e901";
$icon-mail: "\f0e0";
$icon-sq-twitter: "\f081";
$icon-sq-facebook: "\f082";
$icon-twitter: "\f099";
$icon-facebook: "\f09a";
$icon-rarrow: "\f054";
$icon-larrow: "\f053";
$icon-check: "\f00c";
$icon-close: "\f00d";
$icon-shield: "\e900";
$icon-warning: "\f071";

.icon-user:before {
    content: $icon-user;
}
.icon-locked:before {
    content: $icon-locked; 
}
.icon-mail:before {
    content: $icon-mail;
}
.icon-sq-facebook:before {
    content: $icon-sq-facebook;
}
.icon-sq-twitter:before {
    content: $icon-sq-twitter;
}
.icon-facebook:before {
    content: $icon-facebook;
}
.icon-twitter:before {
    content: $icon-twitter;
}
.icon-rarrow:before {
    content: $icon-rarrow;
}
.icon-larrow:before {
    content: $icon-larrow;
}
.icon-check:before {
    content: $icon-check;
}
.icon-close:before {
    content: $icon-close;
}
.icon-shield:before {
    content: $icon-shield;
}
.icon-warning:before {
    content: $icon-warning;
}