@import 'normalize.css';
@import '_fonts.scss';
@import '_vars.scss';
@import '_funcs.scss';
@import '_icons.scss';
@import '_fx.scss';

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    font-family: "Open Sans";
    color: $teal;
}

a {
    color: lighten($teal, 20%);
    text-decoration: inherit;
    transition: color .15s linear, text-shadow .15s linear, background-color .15s linear;
    cursor: pointer;

    &:focus {
        outline: none;
    }
    &:hover {
        text-shadow: $teal 0 0 1px;
    }
}

.is-tooltip {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 4px 6px 4px 6px;
    border-radius: 2px;
    border-color: $teal;
    border: 1px solid;
    background-color: $dark-teal;
    font-size: 13px;
    white-space: pre;
    z-index: 5000;
  
    &.alert {
        border-color: $lred;
        border: 1px solid;
        color: $lred;
        background-color: darken($lred, 55%);
    }
    
    transition: opacity .2s ease;
    &:before, &:after {
        content: "";
        display: block;
        position: absolute;		    
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        pointer-events: none;
    }
    
    &.top:before, &.top:after, &.bottom:before, &.bottom:after {
      left: 50%;
      transform: translateX(-50%);		
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
    }
  
    &.left:before, &.left:after, &.right:before, &.right:after {
      top: 50%;
      transform: translateY(-50%);
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
    }
  
    &.top:before, &.top:after {
      top: 0;
    }
    &.bottom:before, &.bottom:after {
      top: 100%;
    }
    &.left:before, &.left:after {
      left: 0;
    }
    &.right:before, &.right:after {
      left: 100%;
    }
    &.right {
        &:before {
            border-left: 5px solid;
        }
        &:after {
            z-index: 10;
            margin-left: -1px;
        }
        &.default:after { border-left: 5px solid $dark-teal; }
        &.alert:after { border-left: 5px solid darken($lred, 55%); }
    }
    &.bottom {
        &:before {
            border-top: 5px solid;
        }
        &:after {
            margin-top: -1px;
            z-index: 10;   
        }
        &.default:after { border-top: 5px solid $dark-teal; }
        &.alert:after { border-top: 5px solid darken($lred, 55%); }
    }
    &.left {
        &:before {
            left: -13px;
            border-right: 5px solid;
        }
        &:after {
            left: -12px;
            z-index: 10;
        }
        &.default:after { border-right: 5px solid $dark-teal; }
        &.alert:after { border-right: 5px solid darken($lred, 55%); }
    }
    &.top {
        &:before {
            top: -6px;
            border-bottom: 5px solid;
        }

        &:after {
            top: -5px;
            z-index: 10;
        }
        &.default:after { border-bottom: 5px solid $dark-teal; }
        &.alert:after { border-bottom: 5px solid darken($lred, 55%); }
    }

    i {
        margin-right: 5px;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#000, .75);
    
    &.hidden {
        opacity: 0;
        visibility: hidden;
        transition: visibility 0s linear .3s, opacity .4s ease;
    }
    &.visible {
        opacity: 1;
        visibility: visible;
        transition: visibility 0s linear 0s, opacity .4s ease;
    }
    &.forced {
        transition: none;
    }

    section {
        position: absolute;
        border: 1px solid $teal-flat;
        border-radius: 4px;
        background: rgba(#000, .8);
        padding: 15px 20px 15px 20px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        div.icon-close {
            position: absolute;
            top: 8px;
            right: 8px;
            color: $teal;
            cursor: pointer;
            transition: color .2s linear, text-shadow .2s linear;

            &:hover {
                color: lighten($teal, 20%);
                text-shadow: $teal 0 0 1px;
            }
        }
    }
}

section.notification {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 110px;
    overflow: hidden;

    div.notification {
        display: flex;
        align-items: center;
        height: 0; // 40px;
        padding: 0 10px 0 10px;
        margin: 2px 5px 2px 5px;
        border: 1px solid $teal;
        border-radius: 5px;
        background-color: darken($teal, 40%);
        opacity: 0;

        &.alert {
            color: $lred;
            border-color: $lred;
            background-color: darken($lred, 55%);
        }
        &.warning {
            color: $mustard;
            border-color: $mustard;
            background-color: darken($mustard, 40%);
        }

        i {
            margin-right: 10px;
        }
    }
}

.button {
    display: inline-block;
    border: 1px solid;
    border-radius: 4px;
    margin: 5px;
    padding: 8px 15px 8px 15px;
    text-align: center;
    cursor: pointer;
    @include button($teal);

    transition: color .15s linear, border-color .15s linear, background-color .15s linear;
    i {
        margin-right: 10px;
    }
}

.input {
    position: relative;
    display: inline-grid;
    grid-template-columns: 40px minmax(100px, 240px) auto;
    margin: 4px 0 4px 0;

    label {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $teal-border;
        border-radius: 4px 0 0 4px;
        border-right: 0;                
        background: darken($teal-border, 20%);
    }

    input {
        display: inline-block;
        padding: 8px;
        border: 1px solid $teal-border;
        border-radius: 4px;
        color: $teal;
    
        &:not(.clear) {
            transition: background-color .2s ease;
            &:hover:not(:focus):not(:disabled) {
                background-color: rgba($teal, .2);
            }
            &:focus {
                background-color: rgba($teal, .3);
            }
            &:disabled {
                background-color: transparent;
            }
        }	
        background: none;
        background-image: none;
        appearance: none; -webkit-appearance: none; -moz-appearance: none;
        outline: none;
        box-shadow: none;
        resize: none;
    }

    .alert {
        display: flex;
        align-items: center;
        justify-content: center;
        right: 0;
        width: 40px;
        color: $lred;  
        animation: fadeInError .2s ease-in-out;
    }
}
::placeholder {
    font-size: 10px;
    font-weight: 600;
}

.user {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    padding: 8px 20px 8px 20px;
    border-radius: 4px;
    border: .5px solid transparent;
    cursor: pointer;
    transition: background-color .2s ease, border-color .2s ease;

    .avatar {
        height: 32px;
        width: 32px;
        border: 1px solid $teal-border;
        border-radius: 32px;
        margin-right: 10px;
    }
    
    .username {
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .staff {
        margin-left: 5px;
        font-size: 18px;
    }
    
    &:hover {
        background-color: rgba($teal-flat, .4);
        border-color: $teal-border;
    }
}

.loading {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	width: 100%;
	height: 100%;
    z-index: 1;
    opacity: 0;

    animation: fadeIn .8s ease .2s forwards;

    &.fail {
        .icon {
            border-color: $lred;
            span {
                color: $lred;
            }
            &:after {
                display: none;
            }
        }
        .message {
            border: 1px solid $lred;
            color: $lred;
            background-color: rgba(darken($lred, 50%), .6);      
            animation: none;

            .icon-warning {
                display: inline-block;
                margin-right: 5px;
            }
        }
        
    }
	.icon {
		position: relative;
		width: 80px;
		height: 80px;
		border: 3px solid rgba($teal-border, .6);		
		border-radius: 100px;
		background-color: rgba(#000, .5);
		text-align: center;		

		span {
			position: absolute;
			width: 100%;
			@include align-element('both', 50%);
		}

		&:after {
			content: "";
			position: absolute;
			left: -3px; top: -3px;
			padding: 40px;
			border: 3px solid transparent;
			border-top: 3px solid $teal;
			border-radius: 100px;
			animation: rotate .8s linear infinite;
    }
  }
  
  .message {
    margin-top: 14px;
    padding: 5px 10px 5px 10px;
    border-radius: 4px;

    animation: blink 2s ease infinite;
  }
}

.panel {
    display: flex;
    flex-direction: column;
    .title {
        align-self: center;
        width: 200px;
        border-bottom: 1px solid $teal;
        border-radius: 15px;
        padding: 4px;
        text-align: center;
    }
    .content {
        border: 1px solid $teal;
        border-radius: 4px;
    }   
}

div#logo {
    position: relative;
    font-family: "Black Ops One";
    color: #fff;
    transition: text-shadow .15s linear, opacity .15s linear;
    > span {
        // Hack to add stroke to text as a shadow
        //                top-left          bottom-left         top-right        bottom-right        center
        text-shadow: #000 -1px -1px 0, #000 -1px 1px 0, #000 1px -1px 0, #000 1px 1px 0, #000 0 0 5px;
    }
    span.logo-1 {
        position: relative;
        color: $teal;
    }
    span.logo-2 {
        position: absolute;
        color: $teal-border;
        // Hack to center an element horizontally
        left: 50%;
        transform: translateX(-50%);
    }
    // If the logo has the class big then make it big
    &.big {
        font-size: 64px;
        span.logo-2 {
            top: -32px;
            font-size: 128px;            
        }
    }
    // If the logo has the class small then make it small
    &.small {
        font-size: 32px;
        span.logo-2 {
            top: -16px;
            font-size: 64px;            
        }
        // When mouse is over the small logo
        &:hover {
            opacity: .6;
        }
    }
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: $teal url('../images/bg.jpg') no-repeat fixed center top / cover;
    background-blend-mode: luminosity;
    
    &.team-orange { background-color: $team-orange }
    &.team-purple { background-color: $team-purple }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: radial-gradient(ellipse at top, rgba(#000, .5), rgba(#000, .6)),
                    radial-gradient(ellipse at bottom, rgba(#000, .5), rgba(#000, .6));
    }
}

.application {
    flex: 1;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    min-height: 800px;

    header {
        order: 1;
        flex: 64px 0 0;
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-content: center;
        align-items: center;
        padding: 0 20px 0 20px;
        border-bottom: 1px solid $teal-border;
        background-color: rgba(#000, .6);

        .button.login {
            display: block;
            border-radius: 40px;
            font-size: 20px;
            background-color: transparent;
            border: none;
        }
    }
    
    main {
        order: 2;
        flex: 1;
        display: flex;
        flex-flow: column nowrap;
        align-items: center; 
        margin: 10px;

        .error {
            display: flex;
            align-items: center;
        
            .icon-warning {
                color: $lred;
                margin-right: 10px;
            }
        
            span.message {
                color: $lred;
                font-size: 20px;
            }
        }
    }
    
    footer {
        order: 3;
        flex: 40px 0 0;
        display: grid;
        grid-auto-columns: auto;
        align-content: center;
        padding: 0 10px 0 10px;
        border-top: 1px solid $teal-border;
        background-color: rgba(#000, .6);
    }
}

.overlay section.login-section, .overlay section.register-section {
    flex: auto;
    display: flex;
    align-items: center;
    background: radial-gradient(ellipse at top, darken($teal, 40%), transparent),
                radial-gradient(ellipse at bottom, darken($teal, 40%), transparent);
    
    opacity: 0;
    animation: fadeIn .4s ease forwards; 
    
    &:before {
        background: url("../images/bg.jpg");
        opacity: .5;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        overflow: hidden;
        opacity: 0;
        animation: fadeIn .4s ease .8s forwards; 

        .alternative {
            display: flex;
            align-self: stretch;
            .button {
                flex: 1;
                &.facebook {
                    @include button($facebook);
                }
                &.twitter {
                    @include button($twitter);
                }
            }
        }

        .separator {
            align-self: stretch;
            position: relative;
            margin: 20px 0 20px 0;
            text-align: center;
            &:before, &:after {
                content: "";
                position: absolute;
                top: 50%;
                width: 42%;
                border-top: 1px solid $teal;
                border-bottom: 1px solid darken($teal, 40%);
            }
            &:before {
                left: 0;
            }
            &:after {
                right: 0;
            }
        }
        .title {
            font-size: 24px;
            margin: 32px 0 32px 0;
        }

        .input {
            max-width: 280px;
            input {
                border-radius: 0 4px 4px 0;
                border-left: 0;
            }
        }        

        .extra {
            margin-top: 20px;
            font-size: 14px;
            text-align: center;
        }

        .button.submit {
            padding: 6px 25px 6px 25px;
            margin-top: 20px;
        }

        
    }
}
